

.top-banner{
	background-color: #EEEEEE;
	padding: 50px;
	border-radius: 5px;
}

.main-container{
	padding: 10px;

}

.btn-primary{
	background-color: #3379B7!important;
}

.news_container{
	padding-top: 30px;
	padding-bottom: 30px;
}

